<!DOCTYPE html>
<html>
<head>
<title>AVIATION</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/stylesheets/final.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet"> 
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top " >
    <div class="container-fluid">
  <a class="navbar-brand" href="#">AVIATION | </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Holidays</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hotels</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
<div class="container">
	 <div class="row">
	 <div class="col-lg-9" >
	 	<div class="row" id="one">
		<div class="col-lg-2" >
		   <span><img src="/stylesheets/spice.jpg" id="logo">
           </span>
           </div>
          <div class="col-lg-2">
	     <span class="block">
			Go Air 
			
		</span>
		<span  class="block">G8-503</span>
     	</div>
     	<div class="col-lg-2">
		<span class="block" id="time">
			20:20
			
		</span>
		<span class="block">Chennai</span>
	</div>
	<div class="col-lg-2">
		<span  class="block"  id="time">
			21:35
			
		</span>
		<span  class="block">Hyderabad</span>
	</div>
	<div class="col-lg-2">
		<span  class="block"  id="time">
			1h 15m 
			
		</span>
		<span  class="block">Non Stop</span>
	</div>
       <div class="col-lg-2" id="p">
		<span  class="block"  id="time">
			Rs 2,519
            
        </span>
       
    </div>
         
    </div>
    	</div>
   
        <div class="col-lg-3">
       <ul class="list-group">
      <li class="list-group-item"><h4>FARE SUMMARY</h1></li>
    <li class="list-group-item">Base Fare:</li>
   <li class="list-group-item">Fees & surcharges:<span id="p" style="font-size:17px;">Rs 2154</span></li>
   <li class="list-group-item">Total services:<span id="p"  style="font-size:17px;">Rs 345</span></li>
   <li class="list-group-item"><h5>Total Cost:<span id="p"  style="font-size:17px;">2499</h5></li>
    <li class="list-group-item"> <a role="button" href="#popup1"  class="btn btn-success" style="padding-right: 3px padding-left:3px;">Confirm</a></li>  
  
  </ul>
    </div>

    </div>
     <div id="popup1" class="overlay">
  <div class="popup">
    <h2>Congratulations!</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      Your tickets has been booked

    </div>
  </div>
</div>
</body>
</html>