<!DOCTYPE html>
<html>
<head>
<title>AVIATION</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:800i" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/css/airline.css">
   
</head>
<body>
	<div class="container">
     <header class="hi">
      <h1 align="center">AVIATION</h1>
      </header>
      <div class="jumbotron">
		<h1 style="text-align:center">Reach Top Heights</h1>
		<h3 style="text-align:center">Fly away to your destination</h3>
	</div>

	<form action="/" method="post">
	
	<div class="form-group">
	<label for="one">Email</label>
	<input type="text" id="one"  class="form-control"  placeholder="Email Address*"  required autofocus> </br>
	<label for="two">Password</label>
    <input type="password" id="two"  class="form-control"  placeholder="Password*" required>
     <a href="/details" class="btn btn-success btn-default " >Submit
       </button>

     </div>
	 
	</form>
      
  
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<% include partials/footer %>